<header class="flex py-3 bg-gray-50 px-12 justify-between items-center ">
    <div class="relative">
        <i class="fa-solid fa-laptop text-5xl text-gray-200 "></i>
        <h1 class="absolute top-2 left-3 z-10 text-xl"><span class="text-yellow-500 font-semibold">CPU</span>CARE
        </h1>
        <i class="fa-solid fa-computer absolute top-2 left-28 text-lg text-blue-500"></i>

    </div>
    <div class="">
        <ul class="flex gap-x-16 ">
            <li class="hover:text-blue-600">
                <a href="/cpucare">Home
                </a>
            </li>
            <li class="hover:text-blue-600">
                <a href="/about">About us</a>
            </li>
            <li class="group relative ">
                <h3 class="hover:text-blue-600">Services <i class="fa-solid fa-caret-down"></i>
                </h3>
                <div
                    class=" absolute w-44 h-44 font-semibold opacity-70 bg-white rounded-lg top-6 right-0 px-2 py-2 hidden group-hover:block">
                    <ul class="h-full w-full flex flex-col gap-y-2 z-20 ">
                        <li class="hover:text-blue-600">
                            <a href="/services/Windows-Installation">Windows Installation</a>
                        </li>
                        <li class="hover:text-blue-600">
                            <a href="/services/PC-Laptop-Update">PC/Laptop Update</a>
                        </li>
                        <li class="hover:text-blue-600">
                            <a href="/services/Software-Installation">Software Installation</a>
                        </li>
                        <li class="hover:text-blue-600">
                            <a href="/services/Data-Recovery">Data Recovery</a>
                        </li>
                        <li class="hover:text-blue-600">
                            <a href="/services/Website-Designing">Website Designing</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</header>
