<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/style/ck.css">    


    <title>CPUCARE-Best computer service provider</title>
</head>

<body class="bg-gray-100 ">
    <%- include("./includes/header.ejs") %>
        <main class="px-20 flex flex-col justify-center gap-y-10 mt-6  ">
            <div class="text-center">
                <h2 class="text-blue-700 text-3xl font-bold">Computer Services Provided by Us</h2>
                <p>CPUCARE is the best Computer services provider.</p>
            </div>
            <div class=" flex flex-col gap-y-10 ">
                <div class="flex gap-x-10 opacity-80 hover:opacity-100">
                    <a href="/services/Windows-Installation"
                        class="w-1/2 h-96 px-8 py-4 bg-white rounded-lg flex flex-col  items-center gap-y-4 cursor-pointer">

                        <i class="fa-brands fa-windows text-5xl text-blue-400"></i>
                        <h3 class="text-2xl font-semibold text-blue-600">Windows Installation</h3>
                        <p>Installing Windows on your PC is the foundation for a smooth computing experience, giving you access to a user-friendly interface, robust performance, and essential features.With the right installation process, Windows provides a seamless experience, connecting you to a wide range of software, security tools, and personalized settings.</p>
                    </a>
                    <a href="/services/PC-Laptop-Update"
                        class="w-1/2 h-96 px-8 py-4 bg-white rounded-lg flex flex-col  items-center gap-y-4 opacity-80 hover:opacity-100 cursor-pointer">
                        <img src="update_1.png" alt="" class="w-14 h-14 bg-purple-400 rounded-full">
                        <h3 class="text-2xl font-semibold text-purple-500">PC/Laptop Update</h3>
                        <p>Keep your PC or laptop running smoothly by staying on top of regular updates. Software updates not only improve performance but also safeguard against security threats.By keeping your laptop or PC up to date, you’re ensuring compatibility with new software, enhanced performance, and most importantly, protecting your device from vulnerabilities.</p>
                    </a>
                </div>
                <div class="flex gap-x-10 ">
                    <a href="/services/Software-Installation" class="w-1/2 h-96 px-8 py-4 bg-white rounded-lg flex flex-col  items-center gap-y-4 opacity-80 hover:opacity-100 cursor-pointer">
                        <img src="update_2.png" alt="" class="w-14 h-14 rounded-full bg-orange-400">
                        <h3 class="text-2xl font-semibold text-orange-500">Software Installation</h3>
                        <p>Software installation is the first step in unlocking the full potential of your device. Whether it's a new application or an update, it helps bring your PC or laptop to life.Installing new software is like giving your device a fresh upgrade. It can streamline tasks, boost performance, and open up new possibilities.</p>
                        </a>
                    <a href="/services/Website-Designing" class="w-1/2 h-96 px-8 py-4 bg-white rounded-lg flex flex-col  items-center gap-y-4 opacity-80 hover:opacity-100">
                        
                        <i class="fa-solid fa-pen-nib text-4xl text-rose-400"></i>
                        <h3 class="text-2xl font-semibold text-rose-500">Website Designing</h3>
                        <p>Website designing is about creating an online experience that’s both functional and visually appealing, making it easier for users to navigate and engage with your content.A well-designed website combines aesthetics with usability, ensuring your visitors not only enjoy the look of your site but also find what they need quickly and easily.</p>
                        </a>
                </div>
                <div class="flex gap-x-10 ">
                    <a href="/services/Data-Recovery"
                        class="w-1/2 h-96 px-8 py-4 bg-white rounded-lg flex flex-col  items-center gap-y-4 opacity-80 hover:opacity-100 cursor-pointer">

                        <i class="fa-solid fa-hammer text-4xl text-green-500"></i>
                        <h3 class="text-2xl font-semibold text-green-600">Data Recovery</h3>
                        <p>Data recovery is the process of retrieving lost, corrupted, or accidentally deleted files from storage devices, ensuring your important information isn’t gone for good.When disaster strikes and you lose critical files, data recovery can help you restore them, offering peace of mind and minimizing potential downtime.</p>
                    </a>
                    <a href="/services/Remote-Support"
                        class="w-1/2 h-96 px-8 py-4 bg-white rounded-lg flex flex-col  items-center gap-y-4 opacity-80 hover:opacity-100 cursor-pointer">

                        <i class="fa-solid fa-house-laptop text-4xl text-yellow-400"></i>
                        <h3 class="text-2xl font-semibold text-yellow-500">Remote Support</h3>
                        <p>Remote support allows technicians to access your device from anywhere, providing fast solutions without the need for in-person visits.With remote support, help is just a click away. Troubleshoot issues, install updates, or resolve problems, all from the comfort of your own space.</p>
                    </a>
                </div>
                <div class="flex gap-x-10 ">
                    <a href="/services/Windows-Installation-Update"
                        class="w-1/2 h-96 px-8 py-4 bg-white rounded-lg flex flex-col  items-center gap-y-4 opacity-80 hover:opacity-100 cursor-pointer">
                        <i class="fa-brands fa-windows text-5xl text-blue-400"></i>
                        <img src="update_1.png" alt="" class="w-14 h-14 bg-purple-400 rounded-full">

                        <h3 class="text-2xl font-semibold text-blue-600">Windows Installation + <span
                                class="text-purple-500">Update</span></h3>
                        <p>Installing Windows on your PC is the foundation for a smooth computing experience, giving you access to a user-friendly interface, robust performance, and essential features.Updating your computer is essential for maintaining its speed, security, and stability. Regular updates ensure you’re always using the latest features and bug fixes.</p>
                    </a>
                    <a href="/services/Windows-Installtion-Recovey"
                        class="w-1/2 h-96 px-8 py-4 bg-white rounded-lg flex flex-col  items-center gap-y-4 opacity-80 hover:opacity-100 cursor-pointer">
                        <i class="fa-brands fa-windows text-5xl text-blue-400"></i>
                        <i class="fa-solid fa-hammer text-4xl text-green-500"></i>

                        <h3 class="text-2xl font-semibold text-blue-600">Windows Installation + <span
                                class="text-green-600">Data Recovery</span></h3>
                        <p>A clean Windows installation can breathe new life into your computer, improving speed, security, and functionality by eliminating unwanted files and errors.In a world where data is essential, data recovery is a vital lifeline, providing solutions to retrieve your files after an unexpected crash, accidental deletion, or hardware failure.</p>
                    </a>
                </div>
                <div class="flex gap-x-10 ">
                    <a href="/services/Software-Installation-Remote-Support"
                        class="w-1/2 h-96 px-8 py-4 bg-white rounded-lg flex flex-col  items-center gap-y-4 opacity-80 hover:opacity-100 cursor-pointer">
                        <img src="update_2.png" alt="" class="w-14 h-14 rounded-full bg-orange-400">
                        <i class="fa-solid fa-house-laptop text-4xl text-yellow-400"></i>

                        <h3 class="text-2xl font-semibold text-orange-500">Software Installation + <span
                                class="text-yellow-500">Remote Support</span></h3>
                        <p>Installing new software is like giving your device a fresh upgrade. It can streamline tasks, boost performance, and open up new possibilities.With the power of remote support, technical assistance is always within reach, making it easier than ever to keep your devices running smoothly.</p>
                    </a>
                    <a href="/services/website-Designing-Antivirus-Update"
                        class="w-1/2 h-96 px-8 py-4 bg-white rounded-lg flex flex-col  items-center gap-y-4 opacity-80 hover:opacity-100 cursor-pointer">
                        <i class="fa-solid fa-pen-nib text-4xl text-rose-400"></i>
                        <i class="fa-solid fa-file-shield text-4xl text-purple-400"></i>
                        <h3 class="text-2xl font-semibold text-rose-500">Website Designing + <span
                                class="text-purple-500">Antivirus Update</span></h3>
                        <p>A well-designed website combines aesthetics with usability, ensuring your visitors not only enjoy the look of your site but also find what they need quickly and easily.Keeping your antivirus software updated is crucial for protecting your system against the latest threats, ensuring you're always one step ahead of cybercriminals.</p>
                    </a>
                </div>


            </div>



        </main>
        <%- include("./includes/footer.ejs") %>
</body>

</html>