<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/ck.css">    

    <title>CPUCARE-Privacy Policy</title>
</head>
<body>
    <%- include("./includes/header.ejs") %>
    <main class="px-10 py-4 flex flex-col gap-y-6">
        <h3 class="text-2xl font-semibold px-14 text-center">Privacy Policy</h3>
        <div>
            <h5 class="text-lg font-semibold">Your Privacy is important to us</h5>
            <p>It is CPUCARE’ policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to CPUCARE. We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy to explain what information may be collected on our Website, how we use this information. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.

                This Privacy Policy, together with the Terms of Service posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms of service.
                
                </p>
        </div>
        <div>
            <h5 class="text-lg font-semibold">Personally-Identifying Information</h5>
            <p>Certain visitors to CPUCARE’ websites choose to interact with CPUCARE in ways that require CPUCARE to gather personally identifying information. The amount and type of information that CPUCARE gathers depend on the nature of the interaction. For example, we ask visitors who leave a comment at CPUCARE to provide a username and email address.</p>
        </div>
        <div>
            <h5 class="text-lg font-semibold">Information we collect</h5>
            <p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.

                If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and attachments you may send us, and any other information you may choose to provide.
                
                When you register for an Account, we may ask for your contact information, including items such as name, email address, and telephone number.</p>
        </div>
        <div>
            <h5 class="text-lg font-semibold">Protection of Certain Personally-Identifying Information</h5>
            <p>CPUCARE discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors, and affiliated organizations that:-

                (i) Need to know that information in order to process it on CPUCARE’ behalf or to provide services available at CPUCARE’ website, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors, and affiliated organizations may be located outside of your home country; by using CPUCARE’ website, you consent to the transfer of such information to them. CPUCARE will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors, and affiliated organizations, as described above, CPUCARE discloses potentially personally-identifying and personally-identifying information only in response to a subpoena, court order, or other governmental requests, or when CPUCARE believes in good faith that disclosure is reasonably necessary to protect the property or rights of CPUCARE, third parties or the public at large.
                
                If you are a registered user of CPUCARE and have supplied your email address, CPUCARE may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what’s going on with CPUCARE and our products.</p>
        </div>
        <div>
            <h5 class="text-lg font-semibold">How We Use Your Information?</h5>
            <p>
                We use the information we collect in various ways, including to:
                
                Improve, personalize, and expand our website
                Understand and analyze how you use our website
                Develop new products, services, features, and functionality
                Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes
                Send you emails
                Find and prevent fraud</p>
        </div>
        <div>
            <h5 class="text-lg font-semibold">Security</h5>
            <p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>
        </div>
    </main>
    <%- include("./includes/footer.ejs") %>

</body>
</html>